gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
app/google-services.json
key.properties
**/*.keystore
**/*.jks
# All files with the .jks extension are ignored except for dev-keystore.jks
!dev-keystore.jks